Reading Datasets:
## data 1 = asd_children_traits
## data 2 = adults 
## data 3 = toddler autism dataset

In [2]:
import pandas as pd

In [11]:


data1=pd.read_csv('DATA/asd_children_traits.csv')
data2=pd.read_csv('DATA/Toddler Autism dataset July 2018.csv')
data3=pd.read_csv('DATA/autism_screening_adults.csv')

In [12]:
data1.head()

,CASE_NO_PATIENT'S,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,Global developmental delay/intellectual disability,Social/Behavioural Issues,Childhood Autism Rating Scale,Anxiety_disorder,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who_completed_the_test,ASD_traits
0,1,0,0,0,0,0,0,1,1,0,...,Yes,Yes,1,Yes,F,middle eastern,Yes,No,Family Member,No
1,2,1,1,0,0,0,1,1,0,0,...,Yes,Yes,2,Yes,M,White European,Yes,No,Family Member,Yes
2,3,1,0,0,0,0,0,1,1,0,...,Yes,Yes,4,Yes,M,Middle Eastern,Yes,No,Family Member,Yes
3,4,1,1,1,1,1,1,1,1,1,...,Yes,Yes,2,Yes,M,Hispanic,No,No,Family Member,Yes
4,5,1,1,0,1,1,1,1,1,1,...,Yes,Yes,1,Yes,F,White European,No,No,Family Member,Yes

In [13]:
data2.head()

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,1,0,0,0,0,0,0,1,1,0,1,28,3,f,middle eastern,yes,no,family member,No
1,2,1,1,0,0,0,1,1,0,0,0,36,4,m,White European,yes,no,family member,Yes
2,3,1,0,0,0,0,0,1,1,0,1,36,4,m,middle eastern,yes,no,family member,Yes
3,4,1,1,1,1,1,1,1,1,1,1,24,10,m,Hispanic,no,no,family member,Yes
4,5,1,1,0,1,1,1,1,1,1,1,20,9,f,White European,no,yes,family member,Yes

In [14]:
data3.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,...,f,White-European,no,no,United States,no,6.0,18 and more,Self,NO
1,1,1,0,1,0,0,0,1,0,1,...,m,Latino,no,yes,Brazil,no,5.0,18 and more,Self,NO
2,1,1,0,1,1,0,1,1,1,1,...,m,Latino,yes,yes,Spain,no,8.0,18 and more,Parent,YES
3,1,1,0,1,0,0,1,1,0,1,...,f,White-European,no,yes,United States,no,6.0,18 and more,Self,NO
4,1,0,0,0,0,0,0,1,0,0,...,f,?,no,no,Egypt,no,2.0,18 and more,?,NO

In [15]:
print(data1.columns)
print(data2.columns)
print(data3.columns)

Index(['CASE_NO_PATIENT'S', 'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8',
       'A9', 'A10_Autism_Spectrum_Quotient', 'Social_Responsiveness_Scale',
       'Age_Years', 'Qchat_10_Score', 'Speech Delay/Language Disorder',
       'Learning disorder', 'Genetic_Disorders', 'Depression',
       'Global developmental delay/intellectual disability',
       'Social/Behavioural Issues', 'Childhood Autism Rating Scale',
       'Anxiety_disorder', 'Sex', 'Ethnicity', 'Jaundice',
       'Family_mem_with_ASD', 'Who_completed_the_test', 'ASD_traits'],
      dtype='object')
Index(['Case_No', 'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10',
       'Age_Mons', 'Qchat-10-Score', 'Sex', 'Ethnicity', 'Jaundice',
       'Family_mem_with_ASD', 'Who completed the test', 'Class/ASD Traits '],
      dtype='object')
Index(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score', 'A6_Score',
       'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score', 'age', 'gender',
       'ethnicity', 'jundice', 'austim', 'contry_of_res', 'used_app_before',
       'result', 'age_desc', 'relation', 'Class/ASD'],
      dtype='object')

In [16]:
df1=pd.concat([data1.iloc[:,1:11],data1.iloc[:,[12,22,23,24,25,26,27]]],axis=1)
df1.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10_Autism_Spectrum_Quotient,Age_Years,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who_completed_the_test,ASD_traits
0,0,0,0,0,0,0,1,1,0,1,2,F,middle eastern,Yes,No,Family Member,No
1,1,1,0,0,0,1,1,0,0,0,3,M,White European,Yes,No,Family Member,Yes
2,1,0,0,0,0,0,1,1,0,1,3,M,Middle Eastern,Yes,No,Family Member,Yes
3,1,1,1,1,1,1,1,1,1,1,2,M,Hispanic,No,No,Family Member,Yes
4,1,1,0,1,1,1,1,1,1,1,2,F,White European,No,No,Family Member,Yes

In [17]:
df2=pd.concat([data2.iloc[:,1:12],data2.iloc[:,13:]],axis=1)
df2['Age_Mons']=(df2['Age_Mons']/12).astype(int)
df2.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,0,0,0,0,0,0,1,1,0,1,2,f,middle eastern,yes,no,family member,No
1,1,1,0,0,0,1,1,0,0,0,3,m,White European,yes,no,family member,Yes
2,1,0,0,0,0,0,1,1,0,1,3,m,middle eastern,yes,no,family member,Yes
3,1,1,1,1,1,1,1,1,1,1,2,m,Hispanic,no,no,family member,Yes
4,1,1,0,1,1,1,1,1,1,1,1,f,White European,no,yes,family member,Yes

In [18]:
df3=pd.concat([data3.iloc[:,0:15],data3.iloc[:,-2:]],axis=1)
df3.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,austim,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,26.0,f,White-European,no,no,Self,NO
1,1,1,0,1,0,0,0,1,0,1,24.0,m,Latino,no,yes,Self,NO
2,1,1,0,1,1,0,1,1,1,1,27.0,m,Latino,yes,yes,Parent,YES
3,1,1,0,1,0,0,1,1,0,1,35.0,f,White-European,no,yes,Self,NO
4,1,0,0,0,0,0,0,1,0,0,40.0,f,?,no,no,?,NO

In [19]:
order_test= pd.DataFrame({
    'df1': df1.columns,
    'df2': df2.columns ,
    'df3': df3.columns
})
order_test

                             df1                     df2        df3
0                             A1                      A1   A1_Score
1                             A2                      A2   A2_Score
2                             A3                      A3   A3_Score
3                             A4                      A4   A4_Score
4                             A5                      A5   A5_Score
5                             A6                      A6   A6_Score
6                             A7                      A7   A7_Score
7                             A8                      A8   A8_Score
8                             A9                      A9   A9_Score
9   A10_Autism_Spectrum_Quotient                     A10  A10_Score
10                     Age_Years                Age_Mons        age
11                           Sex                     Sex     gender
12                     Ethnicity               Ethnicity  ethnicity
13                      Jaundice                Jaundice    jundice
14           Family_mem_with_ASD     Family_mem_with_ASD     austim
15        Who_completed_the_test  Who completed the test   relation
16                    ASD_traits       Class/ASD Traits   Class/ASD

In [24]:
# Rename columns to have the same names in all DataFrames
df2.columns = df3.columns = df1.columns

# Concatenate the DataFrames
data_fin = pd.concat([df3, df2, df1], axis=0)
data_fin.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10_Autism_Spectrum_Quotient,Age_Years,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who_completed_the_test,ASD_traits
0,1,1,1,1,0,0,1,1,0,0,26.0,f,White-European,no,no,Self,NO
1,1,1,0,1,0,0,0,1,0,1,24.0,m,Latino,no,yes,Self,NO
2,1,1,0,1,1,0,1,1,1,1,27.0,m,Latino,yes,yes,Parent,YES
3,1,1,0,1,0,0,1,1,0,1,35.0,f,White-European,no,yes,Self,NO
4,1,0,0,0,0,0,0,1,0,0,40.0,f,?,no,no,?,NO

In [25]:
data_fin.shape

(3743, 17)

In [26]:
# Get object type columns
object_cols = data_fin.select_dtypes('O').columns

# Create new DataFrame
object_df = pd.DataFrame({
    'Objects': object_cols,
    'Unique values': [data_fin[col].unique() for col in object_cols],
    'number of unique values':[data_fin[col].nunique()for col in object_cols]
})

object_df

,Objects,Unique values,number of unique values
0,Sex,"[f, m, F, M]",4
1,Ethnicity,"[White-European, Latino, ?, Others, Black, Asi...",23
2,Jaundice,"[no, yes, Yes, No]",4
3,Family_mem_with_ASD,"[no, yes, No, Yes]",4
4,Who_completed_the_test,"[Self, Parent, ?, Health care professional, Re...",11
5,ASD_traits,"[NO, YES, No, Yes]",4

In [27]:
data_fin.columns


for col in ['Sex', 'Ethnicity',
       'Jaundice', 'Family_mem_with_ASD', 'Who_completed_the_test',
       'ASD_traits']:
    print("-------------------------------")
    print(f'Column name: {col}\n')
    print(f'Unique values:\n{data_fin[col].unique()}')

-------------------------------
Column name: Sex

Unique values:
['f' 'm' 'F' 'M']
-------------------------------
Column name: Ethnicity

Unique values:
['White-European' 'Latino' '?' 'Others' 'Black' 'Asian' 'Middle Eastern '
 'Pasifika' 'South Asian' 'Hispanic' 'Turkish' 'others' 'middle eastern'
 'White European' 'black' 'asian' 'south asian' 'Native Indian' 'mixed'
 'Pacifica' 'Middle Eastern' 'Mixed' 'PaciFica']
-------------------------------
Column name: Jaundice

Unique values:
['no' 'yes' 'Yes' 'No']
-------------------------------
Column name: Family_mem_with_ASD

Unique values:
['no' 'yes' 'No' 'Yes']
-------------------------------
Column name: Who_completed_the_test

Unique values:
['Self' 'Parent' '?' 'Health care professional' 'Relative' 'Others'
 'family member' 'Health Care Professional' 'Family Member'
 'Family member' 'School and NGO']
-------------------------------
Column name: ASD_traits

Unique values:
['NO' 'YES' 'No' 'Yes']

In [28]:
replacements = {
    'f': 'F',
    'm': 'M',
}
data_fin['Sex'] = data_fin['Sex'].replace(replacements)

In [29]:
replacements = {
    'yes': 'Yes',
    'no': 'No',
}
data_fin['Jaundice'] = data_fin['Jaundice'].replace(replacements)

In [30]:
replacements = {
    'yes': 'Yes',
    'no': 'No',
}
data_fin['Family_mem_with_ASD'] = data_fin['Family_mem_with_ASD'].replace(replacements)

In [31]:
replacements = {
    'YES': 'Yes',
    'NO': 'No',
}
data_fin['ASD_traits'] = data_fin['ASD_traits'].replace(replacements)

In [32]:
replacements = {
    'middle eastern': 'Middle Eastern',
    'Middle Eastern ': 'Middle Eastern',
    'mixed': 'Mixed',
    'asian': 'Asian',
    'black': 'Black',
    'south asian': 'South Asian',
    'PaciFica':'Pacifica',
    'Pasifika':'Pacifica'
    
}
data_fin['Ethnicity'] = data_fin['Ethnicity'].replace(replacements)

In [33]:
replacements = {
    'Health care professional':'Health Care Professional',
    'family member':'Family Member',
    'Family member':'Family Member'
}
data_fin['Who_completed_the_test'] = data_fin['Who_completed_the_test'].replace(replacements)

In [35]:
for col in ['Sex', 'Ethnicity',
       'Jaundice', 'Family_mem_with_ASD', 'Who_completed_the_test',
       'ASD_traits']:
    print("-------------------------------")
    print(f'Column name: {col}\n')
    print(f'Unique values:\n{data_fin[col].unique()}')

-------------------------------
Column name: Sex

Unique values:
['F' 'M']
-------------------------------
Column name: Ethnicity

Unique values:
['White-European' 'Latino' '?' 'Others' 'Black' 'Asian' 'Middle Eastern'
 'Pacifica' 'South Asian' 'Hispanic' 'Turkish' 'others' 'White European'
 'Native Indian' 'Mixed']
-------------------------------
Column name: Jaundice

Unique values:
['No' 'Yes']
-------------------------------
Column name: Family_mem_with_ASD

Unique values:
['No' 'Yes']
-------------------------------
Column name: Who_completed_the_test

Unique values:
['Self' 'Parent' '?' 'Health Care Professional' 'Relative' 'Others'
 'Family Member' 'School and NGO']
-------------------------------
Column name: ASD_traits

Unique values:
['No' 'Yes']

treating other missing values as null

In [36]:
# Find the mode of the 'Ethnicity' column
mode_ethnicity = data_fin['Ethnicity'].mode()[0]
#mode_ethnicity

data_fin['Ethnicity'].fillna(mode_ethnicity, inplace=True)

/tmp/ipykernel_96617/4251074633.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_fin['Ethnicity'].fillna(mode_ethnicity, inplace=True)

In [37]:


# Find the mode of the 'Who_completed_the_test' column
mode = data_fin['Who_completed_the_test'].mode()[0]

data_fin['Who_completed_the_test'].fillna(mode, inplace=True)

/tmp/ipykernel_96617/1957550824.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_fin['Who_completed_the_test'].fillna(mode, inplace=True)

In [38]:


# Find the mode of the 'Age_Years' column
mode = data_fin['Age_Years'].mode()[0]

data_fin['Age_Years'].fillna(mode, inplace=True)

/tmp/ipykernel_96617/1386177344.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_fin['Age_Years'].fillna(mode, inplace=True)

In [40]:
data_fin

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10_Autism_Spectrum_Quotient,Age_Years,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who_completed_the_test,ASD_traits
0,1,1,1,1,0,0,1,1,0,0,26.0,F,White-European,No,No,Self,No
1,1,1,0,1,0,0,0,1,0,1,24.0,M,Latino,No,Yes,Self,No
2,1,1,0,1,1,0,1,1,1,1,27.0,M,Latino,Yes,Yes,Parent,Yes
3,1,1,0,1,0,0,1,1,0,1,35.0,F,White-European,No,Yes,Self,No
4,1,0,0,0,0,0,0,1,0,0,40.0,F,?,No,No,?,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1980,0,0,0,0,0,0,0,0,0,1,7.0,M,Middle Eastern,No,No,Health Care Professional,No
1981,0,0,0,0,0,0,0,0,0,0,14.0,F,South Asian,No,No,Health Care Professional,No
1982,0,0,0,0,0,0,0,0,0,1,7.0,M,White European,No,No,Health Care Professional,Yes
1983,0,0,0,0,0,0,0,0,0,0,14.0,M,Middle Eastern,No,No,Health Care Professional,No
1984,0,0,0,0,0,0,0,0,0,1,7.0,M,White European,No,No,Health Care Professional,Yes

In [41]:
pd.DataFrame(data_fin.isnull().sum(), 
             columns=["Missing Values"]).style.bar(color = "#84A9AC")

/var/home/ujjain/.local/lib/python3.12/site-packages/pandas/io/formats/style.py:4040: RuntimeWarning: invalid value encountered in scalar divide
  end = (x - left) / (right - left)

In [42]:
data_fin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3743 entries, 0 to 1984
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   A1                            3743 non-null   int64
 1   A2                            3743 non-null   int64
 2   A3                            3743 non-null   int64
 3   A4                            3743 non-null   int64
 4   A5                            3743 non-null   int64
 5   A6                            3743 non-null   int64
 6   A7                            3743 non-null   int64
 7   A8                            3743 non-null   int64
 8   A9                            3743 non-null   int64
 9   A10_Autism_Spectrum_Quotient  3743 non-null   int64
 10  Age_Years                     3743 non-null   float64
 11  Sex                           3743 non-null   object
 12  Ethnicity                     3743 non-null   object
 13  Jaundice                      3743 non-null   object
 14  Family_mem_with_ASD           3743 non-null   object
 15  Who_completed_the_test        3743 non-null   object
 16  ASD_traits                    3743 non-null   object
dtypes: float64(1), int64(10), object(6)
memory usage: 526.4+ KB

In [45]:
data_fin.rename(columns={'A10_Autism_Spectrum_Quotient': 'A10'}, inplace=True)

# Verify the change
print(data_fin.columns)

Index(['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10',
       'Age_Years', 'Sex', 'Ethnicity', 'Jaundice', 'Family_mem_with_ASD',
       'Who_completed_the_test', 'ASD_traits'],
      dtype='object')

In [47]:
data_fin.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Years,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who_completed_the_test,ASD_traits
0,1,1,1,1,0,0,1,1,0,0,26.0,F,White-European,No,No,Self,No
1,1,1,0,1,0,0,0,1,0,1,24.0,M,Latino,No,Yes,Self,No
2,1,1,0,1,1,0,1,1,1,1,27.0,M,Latino,Yes,Yes,Parent,Yes
3,1,1,0,1,0,0,1,1,0,1,35.0,F,White-European,No,Yes,Self,No
4,1,0,0,0,0,0,0,1,0,0,40.0,F,?,No,No,?,No

In [48]:
data_fin.to_csv('data_fin.csv', index=False)